:root{ 
  --main-blue: rgb(57, 119, 201);
  --secondary-grey: rgb(128, 128, 128);
}

/* background and formatting for the nav bar at the top of the screen */

nav {
  background-color: var(--main-blue);
  padding: 25px;
  border-bottom: solid black 5px;
}

/* Cody Anderson in the top left */

nav h1 {
  font-size: 45px;
  font-family: Impact, 'Haettenschweiler' , 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px 1px 2px white;
}

/* moves nav bar to the right side of the page */

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

/* formatting for the links in the nav bar */

nav li {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* formatting for the header that goes below the nav bar on the page that displays which page you are on */

header {
  background-color: var(--secondary-grey);
}

/* formatting for the text in the header bar */

header h2 {
  font-size: 60px;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px 1px 2px white;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

/* Update the layout of the sidebar and content-section */

.sidebar h3 {
  font-size: 45px;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  max-width: 300px;
  white-space: nowrap;
  margin: 10px 0;
}

/* Update the styling of the h3 tags in the sidebar */

.about-me-sidebar {
  padding: 50px 0 30px 10px;
  border-right: 2px solid black;
}

.work-sidebar {
  padding: 50px 0 30px 10px;
  border-right: 2px solid black;
}

.contact-sidebar {
  padding: 50px 0 30px 10px;
}

.about-me-content p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.work-content {
  display: flex;
  flex-wrap: wrap;
}

.showcase-img-box {
  margin: 45px 25px 45px 25px;
  outline: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.showcase-img-box img {
  padding: 100px;
  max-width: 500px;
  max-height: 400px;
  outline: solid black;
  justify-content: center;
  align-items: center;
}

.img-box {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  outline: solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  width: 300px;
  height: 200px;
  outline: solid green;
}

footer {
  outline: solid green 1px;
}
